@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-stone-200;
  }

  body {
    @apply bg-stone-50 text-stone-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
